#sidebar {
    background-color: #fff;
    color: #3c8dbc;
    border-radius: 0px;
    font-size: 13px;
    padding: 30px 10px;
    margin: 0px 0 20px -20px;
    overflow: scroll;  
    height: 1200px;   
}

#content {
    /*border-left: 1px solid #e6e6e6;*/
    background-color: #fff;
    margin-top: 0px;
    margin-left:-20px;
    padding: 20px 0px 0px 40px;
    height: 1200px;
    font-size: 13px;
    overflow-y:scroll;    
}
#content img{
    max-width:100%;
}
#myNavbar {
    margin-right: -60px;    
}
#myNavbar ul li a{
    padding-top:35px;
    /*padding-right:-10px;*/
}

.navbar {
    margin-bottom: 0;
    background-color: #3c8dbc;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*font-family: 'verdana', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-weight: 500;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ecf0f5;
}

#command {
    padding: 0;
    text-align: center;
}

.modal {
    padding-top: 30px;
}

.modal-header, .modal-header h4, .close {
    background-color: #3c8dbc;
    color: #fff !important;
    text-align: center;
    font-size: 18px;
}

.modal-header, .modal-body {
    padding: 15px 20px;
}

.labels {
    color: red;
}

#loading {
}

    #loading p {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }

#onlinehelp {
    background-color: #fff;
    margin: 20px auto 20px;
    z-index: 9999;
}

#onlinehelp2 {
    background-color: #fff;
    margin: 0px auto 30px;
}
#content_onlinehelp {
  margin-top:50px;  
  padding-top:20px;
}
