@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Lịch hẹn <small>Click vào để thêm lịch hẹn</small></h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                @*<input type="text" class="form-control" placeholder="Tìm kiếm cho...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search!</button>
                </span>*@
                <input type="text" class="form-control" id="search_event" placeholder="Tìm kiếm cho...">
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lịch hẹn <small>bệnh nhân</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    @*<li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>*@
                    <li>
                        <button onclick="OpenModalNewEvents()" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Thêm lịch hẹn</button>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
@section FullCalendarModal{
    <!-- calendar modal -->
    <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Thêm Lịch hẹn</h4>
                </div>
                <div class="modal-body">
                    <div id="testmodal" style="padding: 5px 20px;">
                        <form id="antoform" class="form-horizontal calender" role="form" data-parsley-validate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="content">Nội dung * :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="content" name="content" required="required"  data-required-message="Please insert your name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="patient">Bệnh nhân * :</label>                               
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="patient" id="autocomplete-custom-append" class="form-control col-md-10" required />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Thời gian * :</label>
                                <div class="col-sm-9">
                                    <div class='input-group date' id='datetimepicker_start'>
                                        <input type='text' class="form-control" id="startdate" required />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Kết thúc lúc :</label>
                                <div class="col-sm-9">
                                    <div class='input-group date' id='datetimepicker_end'>
                                        <input type='text' class="form-control" id="enddate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CloseNewEvents()" class="btn btn-default antoclose" data-dismiss="modal">Đóng</button>
                    <button type="button" onclick="AddNewEvents()" class="btn btn-primary antosubmit">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
                </div>
                <div class="modal-body">

                    <div id="testmodal2" style="padding: 5px 20px;">
                        <form id="antoform2" class="form-horizontal calender" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title2" name="title2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
    <!-- /calendar modal -->
}

@section FullCalendar{
    <!-- FullCalendar -->
    <link href="~/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
    <!-- FullCalendar -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/vendors/fullcalendar/dist/lang/vi.js"></script>
}
@section Form{
    <!--Form CSS-->
    <!-- Select2 -->
    <link href="~/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!--Form JS-->
    <!-- Switchery -->
    <script src="~/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/vendors/starrr/dist/starrr.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Initialize datetimepicker -->
    <script>

        $('#datetimepicker_start').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YYYY hh:mm:ss a'
        });
        $('#datetimepicker_end').datetimepicker({
            useCurrent: true
        });
    </script>
}